<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
        {% stylesheets '@BHDSplashBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="container">
            
            <div id="port">
                <img class="parallax-layer" src="{{ asset('/bundles/bhdsplash/images/logo.png') }}" />
                <img class="parallax-layer" style="width: 360px; opacity: 0.05;" src="{{ asset('/bundles/bhdsplash/images/logo.png') }}" />
            </div>
            
            <p>Coming soon.</p>
            <p><a href="http://www.linkedin.com/pub/samuel-hudson/58/a48/500"><img src="{{ asset('/bundles/bhdsplash/images/linkedinIcon.png') }}" /></a></p>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="{{ asset('/bundles/bhdsplash/js/jquery.parallax.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                // Declare parallax on layers
                jQuery('.parallax-layer').parallax({
                    mouseport: jQuery("html")
                });
            });
        </script>
    </body>
</html>